* {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}
nav {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.navbar-brand {
    color: #6655BC;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.headline {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.tagline {
    font-family: "Maven Pro", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #526b84;
}

.btn {
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FEFEFE;
    padding: 10px 20px;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

h5 {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

p {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    color: #526b84;
}

.Index a {
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
    color: grey;
    font-weight: 500;
}

.content_heading {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.content_data {
    font-family: "Maven Pro", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #2d3d4d;
}